#contact-root-container {
    background-color: rgb(255, 255, 255);
    display: grid;
    justify-items: center;
    margin-top: 2vh;
}

#contact-icons-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    justify-content: center;

}

#inner-border-container {
    background-color: rgb(212, 212, 235);
    width: 500px;
}

#inner-border {
    height: 1px;
    border-bottom: 2px solid #212a49;
}

#outside-icons-container {
    margin-top: 5px;
    display: grid;
    justify-items: center;
    width: 50%;
}

.contact-icons {
    width: 30px;
    height: 30px;
    margin: 10px
}

.contact-icons:hover {
    cursor: pointer;
}


.contact-name {
    font-size: 30px;
    color: #212a49;
}