.experience-root-container {
    display: grid;
    grid-template-columns: auto;
    justify-items: center;
    min-height: 100vh;
}

.experience-components-container {
    display: grid;
    grid-template-columns: 33% 33% 33%;
    justify-items: center;
    align-items: center;
    width: 100%;
    background-color: white;
}

.e-item {
    text-align: center;
    color: #212a49;
}
.e-item-year {
    text-align: center;
    font-style: italic;
    color: #212a49;
}

.e-item-name {
    text-align: center;
    font-size: larger;
    color: #212a49;
}

.e-item-description {
    margin-top: 1vh;
    text-align: center;
    color: #212a49;
}

.experience-logo {
    width: 200px;
    height: 200px;
    margin: 20px;
    border: 5px #212a49 solid;
}

.blue-header {
    font-size: 100px;
    color: #212a49;
    padding: 20px;
}

@media only screen and (max-width: 800px) {
    .blue-header {
        font-size: 15vw;
        color: #212a49;
    }

    .experience-components-container {
        grid-template-columns: 100%;        
    }
}
