.self-picture {
    height: 85vh;
    width: auto;
}

.picture-container {
    margin: 20px;
}


.greetings-container {
    display: grid;
    align-items: center;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;

}



/* .greetings-container::after {
    content: "";
    background: url("./../Data/hk_skyline.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    opacity: 0.6;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
    min-height: 100vh;

} */



.greetings-message {
    font-size: 180px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    -webkit-text-stroke: 3px #212a49;
    animation: fadein 2s;
}

@keyframes fadein {
    0% { opacity: 0; }
    30% {opacity: 0;}
    100%   { opacity: 1; }
}

.rounded-buttons {
    background: rgb(255, 255, 255);
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: large;
    border: 3px solid #212a49;
    margin: 20px;
    
}

.rounded-buttons:hover {
    background: rgba(44, 44, 44, 0.753);
    width: 150px;
    height: 40px;
    border-radius: 30px;
    text-align: center;
    display: grid;
    align-items: center;
    font-size: large;
    border: 3px solid white;
    margin: 20px;
    color: white;
    cursor: pointer;
    
}

.buttons-container {
    display: grid;
    grid-template-columns: auto auto;
    justify-content: center;
    animation: fadein 3s;
}


.intro-container {
    background-color: rgb(255, 255, 255);
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.intro-container > .intro-inner-ctn {
    display: flex;
    flex-direction: row;
    max-width: 1200px;
    justify-content: center;
    align-items: center;
}

.intro-container > .intro-inner-ctn > .bg-img {
    display: flex;
    width: 50%;
    max-height: 700px;
    height: 100%;
    border-top-right-radius: 25px;
    box-shadow: 5px -5px #212a49a2;
    overflow: hidden;
}

.intro-container > .intro-inner-ctn > .bg-img > .cover-pic {
    height: 680px;
}

.intro-container > .intro-inner-ctn > .intro-text-ctn {
    width: 50%;
    min-height: 700px;
    display: flex;
    justify-content: center;
}

.inner-introduction-message-container {
    font-size: 16px;
    background-color: #212a49;
    margin: 10px;
    color: rgb(255, 255, 255);
    padding: 20px;
    border: 2px rgba(48, 48, 48, 0.281) solid;
    border-top-left-radius: 25px;
    box-shadow: -5px -5px #212a49a2;
}

.intro-messages-container {
    margin: 10px;
}

.intro-image-container {
    display: flex;
    justify-content: center;
    margin: 10px;
}

.message-container-container {
    display: flex;
    border: 2px black solid;
}


/* for the arrow */
.arrow{
    position: absolute;
    bottom: 0%;
    left: 50%;
    transform: translate(-50%,-50%);
    animation: fadein 5s;
}

.arrow:hover {
    cursor: pointer;
}

.arrow span{
    display: block;
    width: 30px;
    height: 30px;
    border-bottom: 5px solid #ffffff;
    border-right: 5px solid #ffffff;
    transform: rotate(45deg);
    margin: -10px;
    animation: animate 2s infinite;
}
.arrow span:nth-child(2){
    animation-delay: -0.2s;
}
.arrow span:nth-child(3){
    animation-delay: -0.4s;
}
@keyframes animate {
    0%{
        opacity: 0;
        transform: rotate(45deg) translate(-20px,-20px);
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0;
        transform: rotate(45deg) translate(20px,20px);
    }
}

.profile-logo {
    width: 50px;
    height: 50px;
}

#profile-logo-container {
    display: grid;
    justify-items: center;
    margin-bottom: 15px;
}


/* FOR SMALLER SCREENS */
@media only screen and (max-width: 800px) {
    .intro-container {
        display: grid;
        grid-template-columns: 100%;
        padding: 1vw;
    }
    .intro-container > .intro-inner-ctn {
        width: 100%;
    }
    
    .intro-container > .intro-inner-ctn > .intro-text-ctn {
        width: 100%;
    }
    .inner-introduction-message-container {
        width: 95%;
        font-size: 18px;
        background-color: #212a49;
        margin: 10px;
        color: rgb(255, 255, 255);
        padding: 20px;
        border: 2px rgba(48, 48, 48, 0.281) solid;
        border-top-left-radius: 25px;
        display: grid;
        box-shadow: 5px 7px #212a49a2;
    }
    .bg-img {
        display: none;
        width: 0%;
    }
    .cover-pic {
        display: none;
    }
    .greetings-message {
        font-size: 15vw;
        display: flex;
        justify-content: center;
        align-items: center;
        color: white;
        -webkit-text-stroke: 3px #212a49;
        animation: fadein 2s;
    }
}
